
.HomeMain{
  padding: 50px;
  padding-left: 117px;
  
  .title{
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 48px;

    .title_userName{
      color: red;
    }

  }

  .motivational-text{
    padding: 40px 0 77px;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 400;
  }

}

@media screen and (max-width: 1024px){

  .HomeMain{
    padding: 35.5px ;
    padding-left: 83px ;
    .title{
      font-size: 34px;
    }
    .motivational-text {
      padding: 28.4px 0 54.5px;
      font-size: 13px;
    }
  }

}
