@import "../../utils/scss/function.scss";

.lineChart{
  margin-top: 20px;
  height: scaleMyValue(121px, 1024px, 100vh);

  .custom-tooltip{
    font-size: scaleMyfont(12px, 1440px);
    font-weight: 500;
    font-size: 'roboto';
    width:fit-content;
    height: fit-content;
    background-color: #FFF;
    padding: 5px;

    .label{
      color: #000;
      font-size: scaleMyfont(12px, 1440px);
    }

  }

  tspan{
    fill:#FFF;
    font-size: scaleMyfont(12px, 1440px);
  
  }

}

.linechart_title{
  padding: 29px 34px;
  padding: scaleMyValue(29px, 1024px, 100vh) scaleMyValue(34px, 1440px, 100vw);
  width: scaleMyValue(220px, 1024px, 100vw);
  color: #ffffff5e;
}
.horizontalCharts .rechart2 .average-duration div.recharts-responsive-container{
  width: auto;
  height: auto;
}
.responsiveContainer{
  height: scaleMyValue(263px, 1024px, 100vh)
}