.lineChart{
  margin-top: 20px;
}
.linechart_title{
  padding: 29px 34px;
  width: 220px;
  color: #ffffff5e;
}
.lineChart tspan{
  fill:#FFF;
  font-size: 12px;

}
.lineChart .custom-tooltip{
  font-size: 12px;
  font-weight: 500;
  font-size: 'roboto';
  width:fit-content;
  height: fit-content;
  background-color: #FFF;
  padding: 5px;
}
.lineChart .label{
  color: #000;
  font-size: 12px;
}