.lineChart{
  height: 121px;
  padding-top: 10px;

  .custom-tooltip{
    font-size: 12px;
    font-weight: 500;
    font-family: 'roboto';
    width:fit-content;
    height: fit-content;
    background-color: #FFF;
    padding: 5px;

    .label{
      color: #000;
      font-size: 12px;
    }

  }

  text{
    fill:#FFF;  
    font-size: 12px
  }
  

}

.linechart_title{
  padding: 30px 0 0 15px;  
  width: 150px;
  max-width: 150px;
  color: #ffffff5e;
  font-size: 16px;
}
.horizontalCharts .rechart2 .average-duration div.recharts-responsive-container{
  width: auto;
  height: auto;

  
}
.responsiveContainer{
  height: 263px;
}


@media screen and (max-width: 1024px){
  .lineChart{
    text{
      font-size: 9px;
    }
  }  
  .linechart_title {
    padding: 15px 0 10px 15px;
    font-size: 11px;
  }
}
