
.respTool{
  position: fixed;
  top: 90px;
}

.toolsInput{
  width: 100%;
}
.result{
  border: 0.5px solid #000;
  width: 100%;
  height: 20px;
  background-color: rgb(255, 255, 255);
  color: #000;
}