text{
  font-size: 15px;
  font-weight: 500;
  fill: #74798C;
}
.progress-label{
  font-size: 18px;
  font-weight: 500;
  fill:#000
}
.radialBarChart_title{
  font-weight: 500;
  font-size: 15px;
  padding: 30px;
}
.radialBarChart{
  margin-top: -65px;
}