/*Import*/
@import url(https://fonts.googleapis.com/css2?family=Roboto:wght@100;200;300;400;500;600;800;900&display=swap);

body {
  font-family: 'Roboto', sans-serif;
}
/* Variables */
:root{
  --rootHeight : 1024px;
  --rootWidth : 1440px;
}
/* Css reset */
#root{
  overflow: hidden;
  width: var(--rootWidth);
  height: var(--rootHeight);
}
html,body,p,ol,ul,li,dl,dt,dd,blockquote,figure,fieldset,legend,textarea,pre,iframe,hr,h1,h2,h3,h4,h5,h6 {
  margin: 0;
  padding: 0;
}
h1,h2,h3,h4,h5,h6 {
  font-size: 100%;
  font-weight: normal;
}
ul {
  list-style: none;
}
button,input,select {
  margin: 0;
}
html {
  box-sizing: border-box;
}
*, *::before, *::after {
  box-sizing: inherit;
}
img,video {
  height: auto;
  max-width: 100%;
}
iframe {
  border: 0;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
td,th {
  padding: 0;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Home Page*/
.HomeDisplay{
  display: flex;
  max-height: calc(780px - 107px);
  height: 100%;
} 

/* Error 404 */
.error-container{
  min-width: 1024px;
  min-height: 780px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.error_title1{
  font-size: 200px;
}
.error_title2{
  padding-bottom: 35px;
  text-align: center;
  width: 550px;
  font-size: 40px;
  border-bottom: solid 1px #000;
}
.error_link{
  margin-top: 40px;
  text-decoration: none;
  color: #000;
}