.HomeMain{
  padding: 50px 107px;
}

.title{
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 48px;
}

.title_userName{
  color: red;
}

.motivational-text{
  padding: 40px 0 77px; 
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  font-weight: 400;
}