@import '../../utils/scss/function.scss';

.HomeMain{
  padding: scaleMyValue(50px, 1024px, 100vh) scaleMyValue(50px, 1024px, 100vw); 
  padding-left: scaleMyValue(117px, 1440px, 100vw);
  
  .title{
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: scaleMyFont(48px, 1440px);

    .title_userName{
      color: red;
    }

  }

  .motivational-text{
    padding: 40px 0 77px;
    font-family: 'Roboto', sans-serif;
    font-size: scaleMyFont(18px, 1440px);
    font-weight: 400;
  }

}

.loading{
  width: 100vw;
  height: 100vh;
  background-color: rgba(255, 255, 255, 0.568);
  position: fixed;
  font-size: scaleMyFont(55px, 1440px);
  top: 0;
  left: 0;
  
  .loading h1{
    position: fixed;
    top: 50vh;
    left: 45vw;
  }
  
}

