@import '../../utils/scss/function.scss';

.HomeMain{
  padding: scaleMyValue(50px, 1024px, 100vh) scaleMyValue(50px, 1024px, 100vw); 
  padding-left: scaleMyValue(117px, 1440px, 100vw);
  
  .title{
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: Min(scaleMyFont(48px, 1440px), 48px);

    .title_userName{
      color: red;
    }

  }

  .motivational-text{
    padding: scaleMyValue(40px, 1024px, 100vh) 0 scaleMyValue(77px, 1440px, 100vw);
    font-family: 'Roboto', sans-serif;
    font-size: Min(scaleMyFont(18px, 1440px),18px);
    font-weight: 400;
  }

}

.loading{
  width: 100vw;
  height: 100vh;
  background-color: rgba(255, 255, 255, 0.568);
  position: fixed;
  font-size: Min(scaleMyFont(55px, 1440px),55px);
  top: 0;
  left: 0;
  
  display: flex;
  justify-content: center;
  align-items: center;
  
}

