/* It's a function that takes 3 arguments:
$absoluteSize - : the pixel value you want to scale
$initialbreakpoint - : DESCRIPTION 
$rootValue - : DESCRIPTION */
@function scaleMyValue($absoluteSize, $initialbreakpoint, $rootValue){
  $percentil: ($absoluteSize*100)/$initialbreakpoint;

  @return ($percentil*$rootValue)/100
};

/* It's a function that takes 2 arguments:
 - : the pixel value you want to scale
 - : DESCRIPTION */
@function scaleMyFont($absoluteSize, $initialbreakpoint){
  @return (($absoluteSize / $initialbreakpoint) * 100) + vw
}
