.UserData{
  display: flex
}

.horizontalCharts{
  display: flex;
  flex-direction: column;
}

.rechart1{
  background-color: grey;
  width: 835px;
  height: 320px;
  margin-bottom: 20px;
}
.rechart2{
  background-color: grey;
  width: 835px;
  height: 263px;
}
.sideBarData{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 258px;
  margin-left: 30px;
}

.sidebar-icon-info{
  margin: auto 31px auto 24px;
}

.sideBarData_Info{
  display: flex;
  align-items: center;
  background-color: #FBFBFB;
  border-radius: 10px;
  width: 258px;
  height: 124px;
}