@import "../../utils/scss/function.scss";

.verticalNavBar{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  color: #fff;
  background-color: #000;
  width: 120px;
  min-height: calc(780px - 107px);
  height: 100vw;
  max-height: calc(1080px - 107px);
  

  .verticalNavBar_btn-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 125px auto;

    .vertical-filter{
      margin-bottom: 20px;
      cursor: pointer;
    }

    img{
      width: 64px;
    }

  }

  .copyright{
    font-weight: 500;
    font-size: 12px;
    white-space: nowrap;
    transform-origin: left;
    transform: rotate(270deg);
  }

}



