@import "../../utils/scss/function.scss";


.Header{
  display: flex;
  background-color: #000;
  color: #FFF;
  margin: 0;
  width: 100vw;
  height: scaleMyValue(91px, 1024px, 100vh);
  max-height: 91px;
  
  .header_logo{
    display: flex;
    align-items: center;
    margin-left: scaleMyValue(30px, 1440px, 100vw);
    width: scaleMyValue(52px, 1440px, 100vw);
    max-width: 52px;

    h1{
      position: relative;
      z-index: 2;
      margin-left: scaleMyValue(10px, 1440px, 100vw);
      font-size: Min(scaleMyFont(24px, 1440px), 24px);
      color: red;
    }

  }
  
  .header_navbar{
    width: 100vw;
    padding:0 25% 0 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #000;

    .header_navlink{
      font-family: 'Roboto', sans-serif;
      font-size: Min(scaleMyFont(24px, 1440px), 24px);
      font-weight: 500;
      color: #FFF;
      text-decoration: none;
    }

  }

}







