.sideBarData{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 258px;
  margin-left: 30px;
}

@media screen and (max-width: 1024px){
  .sideBarData{
    width: 183px;
  }  
}
