.barchart tspan{
  fill: #9B9EAC;
  font-size: 14px;
}
.chart-title{
  fill: black;
}

.custom-tooltip{
  padding: 15px 5px;
  background: red;
}
.label{
  font-size: 10px;
  padding: 10px;
  color: #fff;
}