.horizontalCharts{
  display: flex;
  flex-direction: column;
  width: scaleMyValue(835px, 1440px, 100vw);

  .rechart1{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #FBFBFB;
    border-radius: 10px;
    width: 100%;
    height: scaleMyValue(320px, 1024px, 100vh);
    padding: 39px;
    margin-bottom: 20px;
  }

  .rechart2{
    position: relative;
    display: flex;
    justify-content: space-between;
    width: scaleMyValue(835px, 1440px, 100vw);
    height: scaleMyValue(263px, 1024px, 100vh);;

    .little-chart{
      width: scaleMyValue(258px, 1440px, 100vw);
      height: 100%;
    }

    .average-duration{
      background-color: #FF0000;
      border-radius: 10px;
    }

    .intensity{
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: #282D30;  
      border-radius: 10px;
    }

    .score{
      position: relative;
      background-color: #FBFBFB;  
      border-radius: 10px;
    }

  }

}