@import "../../utils/scss/function.scss";

.horizontalCharts{
  display: flex;
  flex-direction: column;
  width: scaleMyValue(835px, 1440px, 100vw);
  max-width: 835px;

  .rechart1{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #FBFBFB;
    border-radius: 10px;
    padding: scaleMyValue(39px, 1024px, 100vh) scaleMyValue(39px, 1440px, 100vw);
    margin-bottom: scaleMyValue(20px, 1024px, 100vh);
    padding-left: 0;
  }

  .rechart2{
    margin-top: scaleMyValue(40px, 1024px, 100vh);
    position: relative;
    display: flex;
    justify-content: space-between;
    width: scaleMyValue(835px, 1440px, 100vw);
    max-width: 835px;
    height: scaleMyValue(263px, 1024px, 100vh);
    max-height: 263px;

    .little-chart{
      position: relative;
      width: scaleMyValue(258px, 1440px, 100vw);
      max-width: 258px;
      height: scaleMyValue(258px, 1024px, 100vh);
      max-height: 258px;
    }

    .average-duration{
      background-color: #FF0000;
      border-radius: 10px;
    }

    .intensity{
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: #282D30;  
      border-radius: 10px;
    }

    .score{
      position: relative;
      background-color: #FBFBFB;  
      border-radius: 10px;
    }

  }

}